<ul class="nav nav-tabs">
  <li class="<%= active?(root_path)%>">
    <a href="<%= root_path%>">Home</a>
  </li>
  <li class="<%= active?(galleries_path)%>">
    <a href="<%= galleries_path %>">Gallery</a>
  </li>
  <li class="<%= active?(contact_details_path)%>">
    <a href="<%= contact_details_path%>">Contact Us</a>
  </li>
  <li class="dropdown pull-right">
     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Action<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Change your password", edit_user_registration_path %>

      </li>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete%>

      </li>

    </ul>
  </li>
</ul>
